@tailwind base;
@tailwind components;
@tailwind utilities;

.ds-button-white {
    @apply text-brand-white font-sans
    text-[14px] font-semibold
    leading-[20px] tracking-[2.8px]
    uppercase py-[10px]
    px-[30px] lg:px-[50px] border 
    border-brand-white rounded-[5px]
    hover:bg-brand-white transition
    hover:text-brand-green duration-500;
}

.ds-button-yellow {
    @apply text-brand-white font-sans
    text-[14px] font-semibold
    leading-[20px] tracking-[2.8px]
    uppercase py-[10px]
    px-[30px] lg:px-[50px] border 
    border-brand-yellow rounded-[5px]
    bg-brand-yellow 
    hover:bg-brand-transparent
    hover:text-brand-yellow transition
    duration-500;
}

.ds-button-active {
    @apply font-sans
    text-[14px] font-semibold
    leading-[20px] tracking-[2.8px]
    uppercase py-[10px]
    px-[50px] border 
    border-brand-white rounded-[5px]
    bg-brand-white
    text-brand-green;
}

